<div class="container">
<br />
  <div class="row">
    <div class="col-fluid">
      <%= image_tag @print.poster, class: 'img-fluid' %>
    </div>
    <div class="col"><br /><br />
      <p>Location: <br /> <%= @print.location %></p>
      <p>Venue: <br /><%= @print.venue %></p>
      <p>Date: <br /> <%= @print.date %></p>
      <p>Artist: <br /> <%= @print.artist %></p>
    </div>
  </div>
<br /><br /><br />

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
      </div>
      <%= simple_form_for @comment, url: print_comments_path(@print) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add a Comment", class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-xs-8 col-xs-offset-1">
<h1 class="pull-left">Comments</h1>
<!-- Button trigger modal -->
<button class="btn btn-secondary btn-sm pull-right" data-toggle="modal" data-target="#myModal">Add a comment</button>
</div>

<br />

<div class="comments">

  <% @print.comments.each do |comment| %>
    <div>
      <blockquote>
        <b><%= comment.rating %></b> -
          <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
</div>


</div>
</div>