<div class="container">
<br />
  <div class="row">
    <div class="col-fluid">
      <%= image_tag @print.poster, class: 'img-fluid' %>
    </div>
    <div class="col"><br /><br />
      <small>Location: <br /></small>
        <p><%= @print.location %></p>
      <small>Venue: <br /></small>
        <p><%= @print.venue %></p>
      <small>Date: <br /></small>
        <p><%= @print.date %></p>
      <small>Artist: <br /></small>
        <p><%= @print.artist %></p>
    </div>
  </div>
</div>
<br /><br /><br />

<br />

<div class="comments">
  <h3>Comments</h3>

  <%= simple_form_for @comment, url: print_comments_path(@print) do |f| %>
    <%= f.input :message, placeholder: 'Add a comment...' %>
    <%= f.submit "Add a Comment", class: 'btn btn-secondary' %>
  <% end %>
  <br />

  <% @print.comments.each do |comment| %>
    <div class="comments-list col-6">
      <p1><%= comment.message %></p1>
      <br />
      <p1 class="text-muted"><%= comment.user.email %></p1>
      <br />
    </div>
    <br />
  <% end %>
</div>